###################################################
# Sample configuraion for the log4j logging system
###################################################

# Set the root output level and appenders
log4j.rootCategory=INFO, consoleAppender
#log4j.category.org.apache.commons.httpclient.Base64=DEBUG
#log4j.category.org.apache.commons.httpclient.HeaderElement=DEBUG
#log4j.category.org.apache.commons.httpclient.HttpClient=DEBUG

# the httpclient.wire category provides a trace of all of
# httpclient's network communictation
#log4j.category.httpclient.wire=INFO

# Create an appender that prints to the console
log4j.appender.consoleAppender=org.apache.log4j.FileAppender
log4j.appender.consoleAppender.File=System.out
log4j.appender.consoleAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.consoleAppender.layout.ConversionPattern=%-5p [%t] %c - %m: %d{DATE}\n

