<?xml version="1.0" encoding="utf-8" standalone="no"?>

<!DOCTYPE plugin
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<plugin name="JBoss Community Help" id="org.jboss.help" version="1.0" provider-name="JBoss.org">
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
</plugin>